body {
  background-color: cadetblue;
}

.listItems {
  background-color: bisque;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.beerImg {
  height: 200px;
}

.transHeart {
  height: 80px;
  width: 85px;
}

.likeButton {
  height: 84px;
  width: 100px;
}